body {
  font-family: 'Dosis', sans-serif;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

:root {
  --main-color_blue: #395e8b;
}

.main-holder {
  max-width: 500px;
}

a {
  text-decoration: none;
}

.weather-info .card-body {
  color: #899ebb;
  font-size: 14px;
}

.weather-value {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color_blue);
}

.min-temp {
  font-size: 12px;
}

.forcast-day h4 {
  font-size: 14px;
}

.cityName {
  text-align: left;
}

.forcast-day p {
  margin-bottom: 5px;
}

.btn-search,
.btn-search:hover {
  color: #fff;
  background: var(--main-color_blue);
}

.weather-color-section img {
  display: block;
  width: 150px;
}

.weather-color-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 30px 30px;
  background: var(--main-color_blue);
  background: linear-gradient(153deg, rgba(49,102,150,1) 41%, rgba(101,150,194,1) 71%);  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.weather-color-temp {
  /*top: 30px;*/
  /*left: 20px;*/
  /*position: absolute;*/
}

.weather-color-temp a {
  color: #ffffff;
}

.date p {
  margin: 0;
  color: #646464;
}